body {
    background-color: #fff;
    background-image: linear-gradient(to right, rgb(63, 119, 172), #c0361e5d);
    font-family: 'Abril Fatface', cursive, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Newsreader', serif;
}

li a:hover {
    border-bottom: 3px solid rgb(245, 3, 3);
}

.selected {
    background-color: rgb(250, 199, 192);
}

#heading1Name {
    font-size: 8vw;
    color: rgb(29, 73, 155);
    text-align: center;
    background: -webkit-linear-gradient(rgb(163, 169, 201), rgb(245, 3, 3));
    background: -webkit-linear-gradient(rgb(190, 87, 87), rgb(2, 13, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading2Name {
    font-size: 7.5vw;
    color: rgb(29, 73, 155);
    text-align: center;
    background: -webkit-linear-gradient(rgb(163, 169, 201), rgb(245, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading3Name {
    font-size: 7.5vw;
    color: rgb(245, 3, 3);
    text-align: center;
    background: -webkit-linear-gradient( rgb(63, 119, 172), #c0361e5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading4Name {
    font-size: 2.05vw;
    padding-top: 1vw;
    font-size: 3vw;
    background: -webkit-linear-gradient(rgb(190, 87, 87), rgb(2, 13, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.textonscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 4vw 6vw 6vw 6vw;
    box-shadow: 0 8px 16px 0 rgba(160, 10, 10, 0.849);
    background-image: linear-gradient(to right, #fff, #f0f6fc);
}

.leftonscreen {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 8vw 6vw 8vw 6vw;
    box-shadow: 0 8px 16px 0 rgb(19, 83, 180);
    writing-mode: vertical-lr;
    font-size: 3vw;
    color: rgb(63, 119, 172);
    text-align: center;
    background-image: linear-gradient(to right, #fff, #f0f6fc);
}

.rightonscreen {
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 8vw 6vw 8vw 6vw;
    box-shadow: 0 8px 16px 0 rgba(160, 10, 10, 0.849);
    writing-mode: vertical-lr;
    font-size: 3vw;
    color: rgb(63, 119, 172);
    text-align: center;
    background-image: linear-gradient(to right, #fff, #f0f6fc);
}

a.sidebars:link {
    text-decoration: none;
}

a.sidebars {
    font-size: 3vw;
    color: rgb(63, 119, 172);
    text-align: center;
}

a.sidebars:hover {
    font-size: 4vw;
}

.sociallinks {
    text-align: center;
    margin-top: 1.5vw;
}

#linkedin:hover {
    font-size: 1.3vw;
}

#github:hover {
    font-size: 1.3vw;
}

#linkedin {
    color: rgba(0, 0, 0, 0.87);
}

#github {
    color: rgba(0, 0, 0, 0.87);
    padding-left: 2%;
}