/* Global
-----------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    /* background-image: linear-gradient(to right, rgb(63, 119, 172), #c0361e5d); */
    font-family: 'Abril Fatface', cursive, serif;
    margin: 0;
}

.onePage {
    width: 100%;
    height: 100%;
    height: 100vh;
    background: #62b6ff url(bg.png) no-repeat fixed center center / cover;
}


#heading2Name {
    font-size: 7.5vw;
    color: aliceblue;
    color: rgb(29, 73, 155);
    text-align: center;
    /* background: -webkit-linear-gradient(rgb(163, 169, 201), rgb(245, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#heading3Name {
    font-size: 7.5vw;
    /* color: rgb(245, 3, 3);
    color: rgb(63, 119, 172); */
    text-align: center;
    color: aliceblue;
}

#heading4Name {
    font-size: 2.05vw;
    padding-top: 0.8vw;
    font-size: 2.8vw;
    text-align: center;
    color: aliceblue;
    color: rgb(29, 73, 155);
}

.textonscreen {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-30%, -50%);
    /* background-color: #fff; */
    /* padding: 4vw 6vw 6vw 6vw; */
    /* box-shadow: 0 8px 16px 0 rgba(160, 10, 10, 0.849);
    box-shadow: 0 8px 16px 0 rgb(151, 66, 66);
    background-image: linear-gradient(to right, #fff, #f0f6fc); */
}


/* Sidebars and Links
-----------------------------------------*/
.sociallinks {
    text-align: center;
    margin-top: 1.5vw;
}

#linkedin:hover {
    color: rgb(63, 119, 172);
}

#github:hover {
    color: rgb(63, 119, 172);
}

#linkedin {
    color: rgba(0, 0, 0, 0.87);
}

#github {
    color: rgba(0, 0, 0, 0.87);
    padding-left: 2%;
}


/* Projects /main
-----------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.content-wrap {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

h3 {
    margin-bottom: 0;
}

.divider>section {
    border-bottom: 1px groove #566246ff;
    border-bottom: 2px solid #c0361e;
    padding: 25px 0;
}

.divider>section:last-of-type {
    border-bottom: none;
}

img {
    width: 350px;
    height: 250px;
    padding: 7px;
    border: 1px solid rgb(63, 119, 172);
    border-radius: 10px;
}

.project-item a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.project-item a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.lang-used {
    color: aliceblue;
    text-decoration: none;
    background-color: #62b6ff;
    background-color: rgb(61, 115, 216);
    background-color: rgb(63, 119, 172);
    background-color: rgb(29, 73, 155);
    padding: 4px 9px;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 5px;
}

.lang-internal {
    color: aliceblue;
    text-decoration: none;
    color: rgb(63, 119, 172);
    color: rgb(29, 73, 155);
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 20px;
}

.lang-internal:first-of-type {
    margin-left: 0;
}

.lang-used:first-of-type {
    margin-left: 0;
}


/* Projects
-----------------------------------------*/

.projects {
    background-color: #d8dad3ff;
    background-color: rgb(255, 255, 255);
}

.projects a {
    color: aliceblue;
    text-decoration: none;
    background-color: #c0361e;
    padding: 8px 15px;
    border-radius: 7px;
    display: inline-block;
    font-size: 17px;
}

.projects a:hover {
    background-color: #c0361ecc;
}

#code-link {
    color: aliceblue;
    text-decoration: none;
    background-color: #146317b9;
    background-color:  rgb(29, 73, 155);
    padding: 8px 15px;
    border-radius: 7px;
    display: inline-block;
    margin-left: 10px;
}

#code-link:hover {
    background-color:  rgba(29, 73, 155, 0.801);
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #566246ff;
    border-bottom: 2px solid #566246ff;
    padding: 25px 0;
}

.project-item p {
    margin-top: 10px;
}

.project-item h3+p {
    margin-bottom: 0px;
}

.project-item h3 {
    margin-top: 20px;
}


/* Contact Me
-----------------------------------------*/

.footer-box, .bottom-tab{
    background-color: #62b6ff;
}

footer {
    color: aliceblue;
    
}

.contactMe a {
    color: aliceblue;
}

.contactMe h2 {
    padding-top: 30px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    font-family: 'Abril Fatface', cursive, serif;
    
}

.contact-list a {
    padding: 5px 15px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.contact-list a:hover {
    color: #62b6ff;
    color: rgb(29, 73, 155);
}

.contact-list a:first-of-type {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.bottom-tab {
    background-color: #62b6ff;
}

#triangle {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 30px solid white;
}


ul {
    margin-block-end: 0em;
}


/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 2;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: rgb(29, 73, 155);
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    /* color: #00E676; */
    color: rgb(29, 73, 155);
    backdrop-filter: blur(1px); 
}


/* Home section */


.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        
        background-color: rgba(0, 0, 0, 1);
        background-color:  rgb(29, 73, 155); 
        background-color: #62b6ff;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.nav.active-nav{
    height: 110px;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.3s backwards;
    animation: outT 0.3s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.3s backwards;
    animation: outM 0.3s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.3s backwards;
    animation: outBtm 0.3s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.3s forwards;
    animation: inT 0.3s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.3s forwards;
    animation: inM 0.3s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.3s forwards;
    animation: inBtm 0.3s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #62b6ff;
    backdrop-filter: blur(1px); /* Fallback for supporting browsers */
}


/* Responsive
-----------------------------------------*/

@media screen and (min-width:750px) {
    header,
    footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .project-item h3 {
        margin-top: 0px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:749px) {
    .contactMe h2 {
        line-height: 1;
        margin: 15px;
    }
    .contact-list a {
        padding-left: 15px;
    }
}

@media screen and (max-width: 1100px) {
    .flex-container {
        display: block;
    }
    .flex-item-right,
    .flex-item-middle,
    .flex-item-left {
        padding: 5px;
        flex: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .column1 {
        width: 100%;
        margin: 1px;
    }
    .column1 p {
        margin: 5px 0;
    }
}

@media screen and (max-width:1200px) {

    .bottom-tab{
        /* background-color: rgba(0, 0, 0, 0.5);  */
        backdrop-filter: blur(1px); /* Fallback for supporting browsers */
    }

    .onePage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px); 
    }


    .sociallinks{
        padding-top: 1vh;
    }

    img {
        width: 300px;
        height: 200px;
        padding: 7px;
        border: 1px solid rgb(63, 119, 172);
        border-radius: 10px;
    }
    #heading1Name {
        font-size: 15vw;
        color: rgb(29, 73, 155);
        color: aliceblue;
        padding-top: 0;
    }
    #heading2Name {
        font-size: 14vw;
        color: rgb(29, 73, 155);
        color: #62b6ff;
        text-align: center;
    }
    #heading3Name {
        font-size: 14vw;
        /* color: rgb(245, 3, 3); */
        color: aliceblue;
        text-align: center;
    }
    #heading4Name {
        font-size: 4.8vw;
        padding-top: 0.8vw;
        color: #62b6ff;
    }
    .textonscreen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: #fff; */
        /* padding: 4vw 12vw 8vw 12vw; */
    }
    .leftonscreen {
        position: absolute;
        top: 10%;
        left: 50%;
        padding: 20px 40px;
        writing-mode: horizontal-tb;
    }
    .rightonscreen {
        position: absolute;
        top: 90%;
        left: 50%;
        padding: 20px 40px;
        writing-mode: horizontal-tb;
    }
    a.sidebars {
        font-size: 5vw;
        color: rgb(63, 119, 172);
        text-align: center;
    }
    a.sidebars:hover {
        font-size: 9vw;
    }
}


@media screen and (max-width: 770px) {
    #heading2Name {
        font-size: 17vw;
        color: rgb(29, 73, 155);
        color: #62b6ff;
        text-align: center;
    }
    #heading3Name {
        font-size: 20vw;
        /* color: rgb(245, 3, 3); */
        color: aliceblue;
        text-align: center;
    }
    #heading4Name {
        font-size: 7vw;
        padding-top: 0.8vw;
        color: #62b6ff;
    }

}